*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url('./images/background.png');
    background-color: #cccccc;
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100%;
}

#content {
    padding-bottom: 45px;
    padding-top: 70px;
    width:100%;
    max-width: 1080px;
    margin:0 auto;
    min-height: 100vh;
    position: relative;
    height: 100%;
}

#header {
    color: whitesmoke;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10px;
    background-color: #160808c7;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1.2fr;
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, 0.63);
}

#header .logo {
    grid-column: 2/3;
    display: flex;
    align-items: center;
}

#header .logo h1 {
    font-size: 20px; 
    margin: 0 5px;
}

#header nav {
    align-self: center;
}

#header nav > a {
    font-weight: 550;
    color: rgba(0, 0, 0, 0.700);
    color: whitesmoke;
    padding: 15px 8px;
}

#header nav > a:hover, .active{
    color: #45fdeed5 !important;
    text-shadow: 1px 1px 8px rgb(179, 165, 139);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.219);
    background-color: rgba(117, 101, 101, 0.445);
}

#footer {
    position: fixed;
    width: 100%;
    max-width: 1080px;
    bottom: 0;
    padding: 10px 10px;
    background-color: #160808c7;
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, 0.534);
}

#footer #creator {
    grid-column:3/3;
    display: flex;
    align-items: center;
}

#footer .social-text {
    color: whitesmoke;
    margin-right: 3px;
}

#footer #social-info {
    display:flex;
    align-items: center;
    grid-column:2/3;
    grid-row:1;
}

#footer .social-icon {
    color: aliceblue;
    margin: 0 5px;
    margin-top: 3px;
}

#footer .social-icon:hover {
    transform: scale(1.2);
    color: aqua;
}


/* Home Tab */
@keyframes insert {
    0% {
        transform: translateX(-50%) scale(0.7);
        opacity: 0.3;
    }

    100% {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}

#main-content-home {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#welcome {
    animation: insert .7s linear 1 forwards;
    height: 60%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#welcome h1 {
    text-align: center;
    font-family: 'Rowdies', cursive;
    color:whitesmoke;
    font-size:50px;
    text-shadow: 0 0 8px rgb(197, 160, 91);
}

#delivery {
    color: whitesmoke;
    width:80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    animation: insert .7s linear 1 forwards;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: .6fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#delivery i {
    margin-right: 10px;
}

#delivery h2 {
    font-family: 'Rowdies', cursive;
    color:whitesmoke;
    font-size:30px;
    text-shadow: 0 0 8px rgb(197, 160, 91);
    grid-column: 1/3;
    text-align: center;
}

#delivery #delivery-image{
    width: 60%;
    height: 90%;
    border-radius: 5px;
    margin: 10px;
}

#delivery #call-us,
#delivery #visit-us{
    grid-column: 2/3;
    display:flex;
}

#delivery #container-social{
    align-self: stretch;
    justify-self: flex-start;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#time {
    display: flex;
}
/* -------- */


/* About Tab */
#main-content-about {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#image-container-about {
    height: 90%;
    width: 60%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

#image-container-about img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#text-container-about {
    height: 70%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    grid-row:2/3;
}

#text-container-about p {
    color: whitesmoke;
    font-size: 20px;
}
/* ------- */

/* Menu Tab */
#main-content-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    height: 100%;
    width: 70%;
    margin: 10px auto;
}

.item {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);;
    border-radius: 5px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    color: whitesmoke;
    justify-items: center;
    align-items: center;
    font-size:15px;
}

.item img {
    align-self: flex-start;
    grid-column: 1/4;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.item p {
    text-align: center;
    grid-column: 1/4;
}

/* ------- */


@media screen and (max-width:768px){

    #content {
        min-width: 100%;
        padding-top: 114px;
        padding-bottom: 73px;
    }
    
    #header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }
    
    #header .logo {
        grid-column:1/2;
        margin-bottom: 7px;
    }
    
    #footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #footer #creator {
        margin-top: 4px;
        grid-row:2;
        grid-column-start: 1;
    }
    
    #footer #social-info {
        grid-column-start: 1;
        grid-row:1;
    }
    
    #welcome {
        width: 90%;
    }
    #welcome h1 {
        font-size: 2em;
    }

    #delivery {
        width: 90%;
    }

    #delivery h2 {
        font-size: 1.3em;
    }

    #delivery #delivery-image{
        width: 80%;
    }
    
    #delivery #container-social{
        font-size: .7em;
    }

    #image-container-about {
        width: 80%;
    }
    
    #text-container-about {
        width: 90%;
    }

    #text-container-about p {
        font-size: 1em;
    }

    #main-content-menu {
        width: 100%;
        display:block;
    }

}


@media screen and (min-width:1920px){
    #header {
        font-size: 1.3em;
    }  
    
    #header .logo h1 {
        font-size: 1.3em;
    } 
    
    #footer{
        font-size: 1.3em;
    }
    
    #delivery #container-social{
        font-size: 1.6em;
    }
    
    #delivery h2 {
        font-size: 3em;
    }
}


